# main eslint config
# !.eslintrc.js

# dependencies
node_modules/

# production
# /dist
dist/
public/
build/

# cache
/.cache

# coverage
/coverage

# types
/flow-typed/npm

# misc
.git
.temp
.idea

# temp dev ignores - REMOVE FOR PRODUCTION !!
*-ORIG*
*-BAK*
*-bak*
src/config/
gist.cms.js
App-GQL.js
src/lib/fetch*
App-GQL.js
src/lib/state/*
src/lib/intl/*
Loading.js


