{
  "arrowFunctionParens": "always",
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "javascriptEnable": ["javascript", "javascriptreact"],
  "jsonEnable": ["json"],
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "quoteProps": "preserve",
  "rangeStart": 0,
  "semi": true,
  "singleQuote": true,
  "spaceBeforeFunctionParen": true,
  "statusBar": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
