/*********************************** // FORMS // ***************************************/



.header-filters {

  .input-group-prepend,
  .input-group-append {
    padding: 0 1rem;

    .input-group-text {
      //min-width: 3rem;
      border: 0px;
      padding: 0px;
    }
  }

  .input-group-prepend {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: $color-accent;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      margin-right: 8px;
      margin-bottom: 2px;
    }

    &+div {
      &>div {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: 0px;
      }

      min-width: 250px;
    }

    .input-group-text {
      background: transparent;
      font-weight: 700;
      color: #ffffff;
      min-height: 40px;
      border-radius: 0px;
    }

  }

  .input-group-append {
    background-color: #eeeeee;

    .input-group-text {
      background: transparent;
      color: #ffffff;
      color: #cccccc;
      font-weight: 700;
      min-height: 40px;
      border-radius: 0px;
    }
  }

}







// .select__value-container
// .select__value-container--is-multi
// .select__value-container--has-value

.-select_multi label + div{
  min-width: 500px;
}


// (DEFAULTS; OVERRIDES INLINE)
.basic-multi-select{
  margin: 0!important;
  //width: 64%;
  width: 72%;

  &, & .select__control{
    min-height: 50px!important;
  }
}

.select__clear-indicator{
  display: none;
}

.form-fieldset,
fieldset{
  display: flex;
  min-height: 50px;
  &:first-of-type{
    padding-top: 0.5rem;
    label{
      // padding-top: 3.5rem;
      // margin-top: -2.5rem;
    }
  }
  &:last-of-type label{
    // padding-bottom: 2rem;
  }
  label{
    margin-bottom: 0px;
    padding: 1rem 2rem;
    min-width: 220px;
    margin-right: 3rem;
    color: rgba(0,0,0,0.4);
    background-color:#f3f3f3;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: right;
    -webkit-align-items: right;
    -webkit-box-align: right;
    text-align: right;
    flex-direction: row-reverse;
    & + * {
      margin: 0.75rem 0rem;
      min-height: 50px;
    }
  }
  $color-placeholder: #dddddd;
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-placeholder;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color-placeholder;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color-placeholder;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color-placeholder;
  }

  // INPUT TYPES /////////////////////////////////////
  input,
  div.disabled{
    padding: 0.5rem 1rem;
  }
  textarea{
    min-height: 6rem;
  }
  &.-checkbox svg{
    transform: scale(1.5);
    margin-left: 1rem;
  }
  div.disabled{
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 18px;
  }
  button[type="submit"]{
    min-width: 200px;
  }
}







.select__multi-value{
  min-width: 48%!important;
  font-size: 14px!important;
  font-weight: 600;
  padding: 0.3rem 0.2rem 0.15rem  0.5rem;
  flex-direction: row-reverse;
  background-color: transparent!important;
}

.select__multi-value__label{
  width: 100%;
  color: rgba(0,0,0,0.5)!important;
}


.select__multi-value__remove{
  opacity: 0.33!important;
  color: #990000;
  padding-left: 8px!important;
  padding-right: 8px!important;
  &:hover{
    opacity: 1!important;
    cursor: pointer;
  }
}

.rc-checkbox{
  margin: 0.5rem;
}

.rc-checkbox-label{

}

.table-edit {
  td:nth-of-type(2) {
    &, & input {
      font-size: 18px;
    }
  }
}


